# JWT
JWT_SECRET=platforma-super-secret-key-change-in-production

# Kafka
KAFKA_BROKER=localhost:9092

# Service ports (gRPC)
AUTH_GRPC_PORT=50051
BOOKING_GRPC_PORT=50052
PAYMENT_GRPC_PORT=50053
NOTIFICATION_GRPC_PORT=50054

# API Gateway
PORT=3000
AUTH_SERVICE_URL=localhost:50051
BOOKING_SERVICE_URL=localhost:50052
PAYMENT_SERVICE_URL=localhost:50053
NOTIFICATION_SERVICE_URL=localhost:50054

# Database paths
AUTH_DB_PATH=./data/auth.db
BOOKING_DB_PATH=./data/booking.db
PAYMENT_DB_PATH=./data/payment.db
NOTIFICATION_DB_PATH=./data/notification-rxdb
